/*import font*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/*define custom variables*/
:root {
  /* Late Night Bath Palette by sukinapan https://lospec.com/palette-list/late-night-bath */
  /* background + black-keys*/
  --col01: #0f0f0f;
  /* black-key press */
  --col05: #cda4ff;
  /* white-key */
  --col03: #ffffff;
  /* white-key press */
  --col06: #80fcfe;
  /* piano outline */
  --col04: #4f4f4f;
  /* text */
  --col02: #ffffff;

  --border: solid 2px var(--col04);
}
/* Colours and border dimensions were altered to switch up the vibe a little bit; now it feels more clubby
Purple and blue were used because the mesh together well */

body {
  font-family: "Work Sans", serif;
  background-color: var(--col01);
  color: var(--col02);
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  gap: 2rem;
  max-width: 1280px;
  padding: 0 3rem;
  margin: 0 auto;
  line-height: 1.5;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

/*intro modal dialog*/
dialog[open] {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 13px;
  border-radius: 12px;
  border-width: 3px;
  border-color: #5800b0f2;
  background-color: #ecd3ff;
}

#dialog-close-button {
  padding: 3px;
  border-radius: 5px;
  background-color: #c8f5ff;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding-top: 8px;
}

/* SLIDER */

/*********** Baseline, reset styles ***********/
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 25rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/******** Chrome, Safari, Opera and Edge Chromium styles ********/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #add8e6;
  border-radius: 0.5rem;
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: #2f97ff;
  border-radius: 0.5rem;
  height: 1rem;
  width: 2rem;
}

input[type="range"]:focus::-webkit-slider-thumb {
  outline: 3px solid #2eafff;
  outline-offset: 0.125rem;
}
