#play-button {
  width: 10rem;
  transition: scale 0.8s ease-out;
}
#play-button:hover {
  cursor: pointer;
  scale: 1.15;
  transition: scale 0.3s ease-in;
}
#play-button:active {
  width: 30rem;
  transition: width 1000ms;
}
